body {

    padding-top: 4%;
    background-color: lightgrey;
    height: 100%;

    scroll-behavior: smooth;
}

.banner {

    text-align: center;

}

.jumbotron {

    margin-bottom: 0%;
    background-color: lightgrey;

}

.canberraImage {

    width: 100%;
    height: 50%;

} 

.mainHeadings {

    text-align: center;
    padding-bottom: 3%;
    padding-top: 5%;

}

.col {

    text-align: center;
}

.whatIcanDoCards {

    padding-bottom: 5%;
    text-align: center;

}

h2 {
    font-size: 125%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.paragraphs {

    text-align: center;
    padding-left: 5%;
    padding-right: 5%;

}

.card-body {

    text-align: center;
    color: navy;

}

.password {

    display: block;
    margin: 0 auto;

}

.aboutMeSubHeading {

    text-align: center;

}

.subHeadings {

    text-align: center;
    font-style: italic;
    padding-top: 2%;

}

.mainHeadingAboutMe {

    text-align: center;
    padding-bottom: 0%;
    padding-top: 5%;

}

.mainHeadingPastWork {

    text-align: center;
    padding-bottom: 0%;
    padding-top: 5%;

}

.subHeadingsGames {

    text-align: center;
    font-style: italic;
    padding-top: 0%;
    
}